/* for tablets  */
@media screen and (max-width: 995px) {
    /* header {
        background: orange;
    } */

    /* header img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    } */

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav .search_button {
        display: block;
        margin-left: 10px;
    }

    .container h2 {
        text-align: center;
    }

}

@media screen and (max-width: 840px) {
    nav input {
        width: 15vw;
    }

    /* nav {
        background: #000;
    } */

    /* nav input~input {
        display: block;
        flex-wrap: wrap;
    } */
    /* nav input{
        width: 200px;
    } */
}

@media screen and (max-width:768px) {
    .team .service {
        width: 100px;
        height: 100px;
    }

    .team {
        width: 200px;
        height: 300px;
    }
}

@media screen and (max-width:320px) {

    header nav input {
        float: right;
        display: block;
    }

    .review {
        display: block;
    }

    .review .r,
    .feedback .f1 img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }


    .team {
        display: block;
        margin-left: auto;
        margin-right: auto;

    }

    iframe {
        height: 250px;
    }
}

@media only screen and (max-width: 575.98px) {
    .review {
        display: block;
        /* width: 100%; */
    }

    .review .r {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .team_member {
        display: block;
    }

    .team {
        display: block;
        margin-left: auto;
        margin-right: auto;

    }

    iframe {
        height: 250px;
    }

    .feedback {
        display: grid;
    }
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:  #eea849; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:  #f46b45;    
  }
/* @media screen and (max-width:659px) {

} */