 * {
     box-sizing: border-box;
 }

 body {
     background: #1e1e1e;
     color: white;
     text-transform: capitalize;
     font-family: 'Lato', sans-serif;
     font-family: 'Roboto Condensed', sans-serif;
     /* font-family: 'Sofia Sans Semi Condensed', sans-serif; */
     box-sizing: border-box;
 }

 /* header {
     background-color: yellow;
     padding: 30px;
     overflow: hidden;
     margin-bottom: 10px;
 } */

    /* margin-left: 750px; */


 .dropdown {
     /* position: relative; */
     display: inline-block;
     /* color: red; */
     color: black;
     font-weight: bolder;
     margin-left: 25px;
     cursor: pointer;
 }

 .dropdown-content {
     display: none;
     position: absolute;
     min-width: 160px;
     background: white;
     padding: 12px 16px;
     z-index: 1;
 }

 .dropdown-content a {
     color: black;
 }

 .dropdown_list {
     display: inline-block;
     display: list-item;
     list-style: none;
     padding: 10px 20px;
     text-align: center;
     border-radius: 5px;
     font-size: 16px;
     margin-right: 10px;

 }

 .dropdown-content a:hover {
     color: rgb(255, 255, 255);
     background-color: rgb(255, 166, 0);
 }

 .dropdown:hover .dropdown-content {
     display: block;
 }


     /* display: block; */
     /* overflow: hidden; */

 nav input {
     width: 35vw;
     border: 2px solid;
     border-radius: 5px;
     height: 25px;
 }

 .button {
     width: 50px;
     height: 25px;
     background-color: wheat;
     border: 2px solid;
     border-radius: 5px;
 }

 /* nav a {
     text-decoration: none;
     color: red;
     font-weight: bolder;
     padding-left: 50px;
     text-decoration: none;
 } */
 a{
    font-weight: bolder;

 }

 li a:hover {
     /* color: rgb(0, 0, 0); */
     /* color: red; */
     color: white;
 }

 .dropdown:hover {
     color: white;
 }


 /* slider */
 .slider {
     overflow: hidden;
 }

 .wrapper {
     display: flex;
     animation: slide 16s infinite;
 }

 .slider .wrapper img {
     /* flex: 100%; */
     width: 100vw;
 }

 @keyframes slide {
     0% {
         transform: translateX(0);
     }

     50% {
         transform: translateX(-100%);
     }

     75% {
         transform: translateX(-200%);
     }

     100% {
         transform: translateX(-300%);
     }
 }

 /* light box */
 .light_box {
     overflow: hidden;
     display: flex;
 }

 .light_box img {
     width: 25vw;
     max-height: 50vh;
 }

 /* .light_box a {
    color: inherit;
} */

 /** LIGHTBOX MARKUP **/

 .lightbox {

     display: none;
     position: fixed;
     z-index: 999;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     /* A bit of padding around image */
     padding: 1em;

     /* Translucent background */
     /* background: black; */
 }

 /* Unhide the lightbox when it's the target */
 .lightbox:target {
     display: block;
     background: #000;
 }

 .lightbox span {
     /* Full width and height */
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 100%;
     height: 100%;

     /* Size and position background image */
     background-position: center;
     background-repeat: no-repeat;
     background-size: contain;
 }

 .container {

     margin: 30px;
     /* display: inline; */
     /* display: flex; */
     /* flex-wrap: wrap; */
 }

 .container h2 {
     padding-left: 15px;
     padding-bottom: 0;
     /* color: rebeccapurple; */
     font-size: 2rem;
 }

 .container .items .item p {
     text-align: center;
     /* color: black; */
     font-size: large;
 }

 .items {
     display: flex;
     justify-content: center;
     font-weight: 900;
     flex-wrap: wrap;
     margin: 20px;
     background: rgb(60, 59, 59);
     padding: 25px;
 }

 .item {
     margin: 10px;
 }

 .item :hover {
     opacity: 0.5;
 }

 .review img {
    padding: 10px;
     border-radius: 50%;
     width: 65px;
 }

/* 
 .rev h2 {
     font-size: 5ch;
     text-align: center;
 } */

 .review {
     display: flex;
     justify-content: center;
 }

 .r .service {
     display: block;
     margin: 0 auto;
 }

 .r h3 {
     display: flex;
     justify-content: center;
 }

 .r {
     display: inline-block;
     justify-content: center;
     padding: 10px;
     border-radius: 10px;
     background: rgb(60, 59, 59);
     margin: 15px;
     height: 250px;
     width: 250px;
 }

 /* team member */
 .team_member img {
     /* border-radius: 50%; */
     width: 250px;

 }


 .rev h2 {
     font-size: 5ch;
     text-align: center;
 }

 .team_member {
     display: flex;
     justify-content: center;
 }

 .team .service {
     display: block;
     margin: 0 auto;
     border-radius: 5px;
 }

 .team h3,
 h4,
 h5 {
     display: flex;
     justify-content: center;
     color: black;
 }

 .team {
     display: inline-block;
     justify-content: center;
     padding: 10px;
     border-radius: 10px;
     /* background: rgb(60, 59, 59); */
     background-color: rgb(220, 214, 214);
     margin: 15px;
     height: 400px;
     width: 300px;
 }

 /* feedback */
 .feedback {
     display: flex;
     justify-content: center;
     color: black;
 }

 .team_member~h2 {
     font-size: 2rem;
     text-align: center;
 }

 .f1 img {
     border-radius: 50%;
     width: 50px;
 }

 .f1 p {
     color: black;
     font-weight: 700;
 }

 .f1 {
     display: inline-block;
     justify-content: center;
     padding: 10px;
     border-radius: 10px;
     background: rgb(60, 59, 59);
     /* background-color: rgb(220, 214, 214); */
     margin: 15px;
     /* height: 100px; */
     width: 300px;

 }

 body {
     position: relative;
     min-height: 100vh;
     margin: 0;
 }




 input[type=text],
 select,
 textarea {
     width: 100%;
     padding: 12px;
     border: 2px solid yellow;
     border-radius: 4px;
     box-sizing: border-box;
     margin-top: 6px;
     margin-bottom: 16px;
     /* resize: vertical; */
 }

 .contact h1 {
     text-align: center;
 }

 input[type=submit] {
     background-color: yellow;
     /* color: white; */
     /* padding: 12px 20px; */
     width: 100px;
     height: 35px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
 }

 input[type=submit]:hover {
     background-color: yellowgreen;
 }

 input[type=submit]:hover {
     background-color: yellowgreen;
 }

 .contact {
     margin: auto;
     border-radius: 5px;
     background-color: rgb(60, 59, 59);
     padding: 20px;
     width: 70vw;
     /* float: right; */
 }




 /* address */
 .location h1 {
     margin-top: 10px;
     padding-top: 10px;
     text-align: center;
     font-size: 5vw;
 }

 .location {
     display: block;
     margin: 0 auto;
     background: rgb(60, 59, 59);
     border-radius: 5px;
     margin-bottom: 100px;
     width: 90%;
 }

 iframe {
     display: block;
     margin: 0 auto;
     width: 90%;
     height: 400px;
     border-radius: 10px;
 }

 #footer {
     /* background: yellow; */
     background: linear-gradient(to left, #f46b45, #eea849);
     width: 100%;
     padding: 20px;
     color: black;
     text-align: center;
     font-weight: bold;
     margin-bottom: 0;
 }

 /* hamburger */